.Cart{
    padding-top: 50px;
    padding: 20px;
    /* margin: 10px; */
    text-align: center;
    /* height: 100%; */
    background-color:#FF99004D;
    margin-top: 0;
    margin-left: 50px;
    position: sticky;
    top: 0;

/* 
    font-size: 17px; */

}

.p{
    font-size: 17px;
}